.popup-status {
    position: absolute;
    right: 0px;
    z-index: 2;
    width: 50vw;
    max-width: 600px;
    padding: 3px 0;

    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: rgb(50, 71, 187);
    color: rgb(50, 71, 187);
}

.popup-status span {
    font-weight: 500;
}